.hidden {
  display: none;
}

body {
  background-image:url('https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80');
  /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fassets.entrepreneur.com%2Fcontent%2F3x2%2F2000%2F1661266965-shutterstock-2144631851.jpg&f=1&nofb=1&ipt=ebcb035da714baf9d88a8c5caabe617d577d0b612b253a2fa60a6e9d72e4e014&ipo=images');  */
  display: grid;
  grid-template-areas:
    "header header header header header"
    "left main main main aside"
    "left days days days aside";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 130px 1fr 1fr 1fr;
  background-repeat: no-repeat;
}


main {
  grid-area: main;
  text-align: center;
  margin: 10px;
}

#found{
  padding-top: 20px;
  border: 1px solid green;
  margin-bottom: 10px;
  background-color: rgb(227, 224, 224)
}
header {
  grid-area: header;
  background-color: rgb(48, 126, 100);
  border: 1px solid black;
  color: white;
  text-align: center;

}

#page1 {
  text-align: center;
  border: 1px solid green;
}
#page2 {
  text-align: center;
  border: 1px solid green;
}
#page3 {
  text-align: center;
  border: 1px solid green;
}

#right {
  grid-area: aside;
}

#left {
  grid-area: left;
  margin-top: 10px;

}


#live {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(227, 224, 224);
}

div{
  margin-bottom: 10px;
}

#to-f{
  align-items: right;
}