#primaryContainer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background-color:#414240;
  margin-top: 10px;
  border-radius: 5px;
  /* grid-template-rows : 60% 40%; */
}
#currentWeather {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 5px;
  border-radius: 5px;
  box-shadow: -5px 5px silver;
  line-height: 40%;
  text-align: center;
  font-size: larger;
  border-top: solid 1px silver;
  border-right: solid 1px silver;
  background: #414240;
  padding-top:10px;
}
#currentWeather p{
  display: flex;
  justify-content: center;
  align-items: center;
}
#conversion {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display:flex;
  box-shadow: -5px 5px silver;
  background: rgba(211, 211, 211, 0.68);
  margin: 5px;
  border-radius: 5px;
  align-items:center;
  text-align: center;
  border-top: solid 1px silver;
  border-right: solid 1px silver;
}
#prevAside{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  box-shadow: -5px 5px silver;
  background: #414240;
  margin: 5px;
  border-radius: 5px;
  font-size: large;
  border-top: solid 1px silver;
  border-right: solid 1px silver;
}
#prevSearches {
  text-align:center;
}
#threeDayForecast {
  grid-column: 2 / 3; /*og 1/4*/
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around; /* Spreads available space to all elements */
}
.threeDay {
  border: 1px solid black;
  background: #414240;
  margin: 5px;
  border-radius: 5px;
  box-shadow: -5px 5px silver;
  border-top: solid 1px silver;
  border-right: solid 1px silver;
  text-align:center;
  padding-left: 10px;
  padding-right: 10px;
}
#search {
  display: flex;
  background-color: #407e7f;
  flex-direction: column; /* This along with row determines how things are "stacked" Column for one on top of the other, row for all on one line */
  text-align: center;
  border-radius: 5px;
}
#search h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#search form {
  margin-bottom: 30px; /* Adds a little bit of empty space beneath the search */
}
#search form label {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
label {
  font-weight: bold;
}
#noSearches{
  text-align: center;
  font-style: italic;
}
body{
  background-color:#151615;
  color:rgb(237, 237, 237);
}
#locationRaw{
  text-transform: capitalize;
}
.label{
  font-weight: bold;
}


