body {
    display: grid;
    grid-template-areas:
      "header header header header"
      "widget current current aside"
      "days days days aside";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 130px 1fr 1fr;
    /* border: 2px solid yellow; */
    padding: auto, 10px;
    margin: auto 140px;
    grid-row-gap: 30px;
    background-image: url("https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop")
}

header {
    grid-area: header;
    background-color: teal;
    opacity: 0.8;
    border: 2px solid black;
    color: white;
    text-align: center;
}

#current {
    grid-area: current;
    text-align: center;
    border: 1px solid teal;
    background-color: lightgray;
    opacity: 0.8;
    margin: 10px;
    padding: 40px;
}

#previous {
    grid-area: aside;
    /* border: 2px solid yellow; */
    text-align: left;
}

main {
    /* border: 2px solid blue; */
    text-align: center;
}
  
#days {
    background-color: lightgray;
    display: grid;
    grid-area: days;
    grid-template-columns: repeat(3, 1fr);
    text-align: center; 
    /* border: 2px dashed green; */
}
  
#widget {
    grid-area: widget;
    /* border: 2px solid red; */
}