/* *{
margin: 0;
padding: 1px;
box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.location{
    text-align: center;
    
}

h1{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
    
} */