body {
    display: grid;
    grid-template-areas:
      "header header header header"
      "converter current-weather current-weather aside"
      "days days days aside";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 130px 1fr 1fr;
    border: 2px solid yellow;
    padding: auto, 10px;
    margin: auto 140px;
}

header {
    grid-area: header;
    background-color: teal;
    border: 1px solid black;
    color: white;
    text-align: center;
}

#current-weather {
    grid-area: preload;
    text-align: center;
    border: 1px solid green;
    background-color: lightgray;
    margin: 10px;
    text-align: center;
    padding: 40px;
}

#previous {
    grid-area: aside;
    border: 2px solid yellow;
    text-align: left;
}

main {
    border: 2px solid blue;
    text-align: center;
}
  
#days {
    background-color: lightgray;
    display: grid;
    grid-area: days;
    grid-template-columns: repeat(3, 1fr);
    text-align: center; 
    border: 2px dashed green;
}
  
#converter{
    grid-area: converter;
    border: 2px solid red;
    
}