.container {
    display: grid;
    grid-template-columns: 1fr repeat(4);
    gap: 25px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header header"
        "aside main main main aside2"
        "aside main main main aside2";
}

header {
    grid-area: header;
    background-color: rgb(51, 123, 122);
    text-align: center;
    padding: 20px;
    color: white;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

#history {
    grid-area: aside2;
    text-align: center;
}

.article {
    display: inline-block;
    text-align: center;
    border: 1px solid salmon;
}

.shaded {
    background-color: rgb(211, 219, 219);
    border: 1px solid rgb(51, 123, 122);
    text-align: center;
    margin-bottom: 25px;
    padding: 25px;
}

.threeDay {
    display: flex;
}

.three {
    border: 1px solid rgb(51, 123, 122);
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}